<form class="form-horizontal" #ownerForm="ngForm" (ngSubmit)="onSubmit(ownerForm.value)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.firstName" name="firstName" #firstName="ngModel"><br>
    </div>
    <div *ngIf="firstName.pristine" class="alert alert-danger">
        El nombre es requerido.
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" required [(ngModel)]="owner.lastName" name="lastName" #lastName="ngModel"><br>
    </div>
    <div *ngIf="lastName.pristine" class="alert alert-danger">
        El apellido es requerido.
    </div>
    <button type="submit">Guardar</button>
</form>